{{ if eq .osid "linux-arch" "linux-endeavouros" -}}

{{ $packages := list
     "bat"
     "zed"
     "zsh" -}}

{{ if not .headless -}}
    {{   $packages = concat $packages (list "firefox" "obsidian" "libreoffice-still") -}}
{{ end -}}

{{ if .personal -}}
    {{   $packages = concat $packages (list "signal" "steam" "discord") -}}
{{ end -}}

{{/* Use sudo unless already root e.g. in containers or VPS bootstrap */ -}}
{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}pacman -S --needed --noconfirm {{ $packages | join " " }}

{{ end -}}
